@model List<ToDo>

<div class="todoList">
  @foreach (var item in Model)
  {
    <div style="padding: 10px; margin: 10px; background-color: #ccc;">
      @item.Id -
      @item.Task -
      @item.status 
      <div style="display: inline; margin-left: 100px;">
        <input type="button" value="Remove" onclick="location.href = 'todos/remove?id=@item.Id';">
      </div>
    </div>
  }
</div>

<div class="newTask">
  <form method="post" action="">
    <input type="text" name="task" placeholder="New Task">
    <br>
    <label for="status">Status</label>
    <input type="checkbox" name="status" id="status">
    <br>
    <input type="submit" value="Add Task">
  </form>
</div>

